@{

}

<link href="~/Styles/MainPage/AuthenticationSection.css" rel="stylesheet" />

<form class="auth-container">
    Вы не вошли в аккаунт
    <a href="~/Pages/MainPage/Body/SignInPage.cshtml">Войти</a>
</form>

