@{

}

<!DOCTYPE html>

<html lang="ru">
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@Page.Title</title>
    <link href="~/Styles/ControlWindow/StartControlStyle.css" rel="stylesheet" />
</head>
<body>
    <header>
        <h1>@Page.TitleRus</h1>
    </header>
    <main>
        @RenderBody()
    </main>
</body>
</html>
